.wrapper{
    padding: 20px 5%;
    
}
.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    text-align: center;
    display: inline-block;
}
.wishlist{
    
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    row-gap: 50px;
    flex-basis: 50%;
    flex-wrap: wrap;
}

.card_wrapper{
    width: 45%;
    min-height: 10vh;
    max-height: 20vh;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.09);
    display: flex;
    overflow: hidden;
    background-color: #fff;
}
.card_img_wrapper{
    width: 50%;
}
.card_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card_data_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 10%;   
    
    padding: 2% 5% 3%;
    justify-content: space-between;
}
.card_title{
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    margin: 0;
}
.card_desc{
    margin: 0;
}
.card_button{
    align-self: flex-end;
}

.add_button{
    height: 24px;
    width: 24px;
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    margin: 0 2%;
}
.add_button__media{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.reserved_wish{

}
.self_reserved_wish{
    
}