.auth-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.auth-background{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.auth-window{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: 70%;
    height: 60%;
    background-color: transparent;
    border-radius: 50px;
    box-shadow: -4px -4px 100px 18px rgba(72, 46, 46, 0.52);
}
.welcome-side{
    width: 40%;
    height: 80%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.welcome-side__logo{
 color: #f7e32b;
 font-size: 32px;
    line-height: 1.2;
    
}
.welcome-side__title{
    color: #fff;
    font-size: 48px;
    line-height: 1.2;
}
.welcome-side__desc{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.welcome-side__media-container{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
}
.welcome-side__media-wrapper{
    height: 48px;
    width: 48px;
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
}
.welcome-side__media{
    height: 100%;
    width: 100%;
    object-fit: fill;
    filter: invert();
}
