.auth-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    max-height:fit-content;
}

.auth-wrapper::before{
    position: absolute;
    content: '';
    /* background-color: #C3DAC3; */
    /* background-color: #26C485; */
    background-color: #EAFFFD;


    inset: 0;
    z-index: -1;
}
.auth-wrapper::after{
    position: absolute;
    content: '';
    /* background-color: #C3DAC3; */
    /* background-color: #26C485; */
    background-color: #C9F0FF;


    inset: 0;
    z-index: -1;
    clip-path: polygon(
        85% 0%,
        100% 0%,
        100% 100%,
        0% 100%
        
    );
}


























/* .auth-background{
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    max-height:fit-content;
    object-fit: cover;
}
.auth-window{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: 70%;
    height: 60%;
    background-color: transparent;
    border-radius: 50px;
    box-shadow: -4px -4px 100px 18px rgba(72, 46, 46, 0.52);
}
.welcome-side{
    width: 40%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.logo-wrapper{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.welcome-side__logo{
 color: #f7e32b;
 font-size: 32px;
    line-height: 1.2;
    
}
.welcome-side__title{
    color: #fff;
    font-size: 48px;
    line-height: 1.2;
}
.welcome-side__desc{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.welcome-side__media-container{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
}
.welcome-side__media-wrapper{
    height: 48px;
    width: 48px;
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
}
.welcome-side__media{
    height: 100%;
    width: 100%;
    object-fit: fill;
    filter: invert();
} */
