@media ((min-width: 810px) and (max-width: 1919px)) or (device-type: tablet) {
  /* Classes for the header */
  .title-content {
    /* Style the header content */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
  }

  .title-text-controlls {
    /* Style the header controls */
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .title__text {
    /* Style the header text */
    color: #eef0eb;
    font-size: 32px;
    text-align: left;
    /* font-family: 'Figtree', sans-serif; */
  }
  .title-controlls {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .title__button {
    /* Style the header buttons */
    padding: 10px 20px;
    border-radius: 30px;
    margin-right: 10px;
  }

  .title-imgs {
    height: 420px;
    width: 420px;
    margin: 50px 50px 50px 0;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  /* Classes for the content block */

  .paragraph {
    /* Style the paragraph content */
    max-width: 1000px;
    margin: 80px 0;
    padding: 0 40px;
  }

  .paragraph__desc {
    /* Style the paragraph description */
    width: 60%;
  }

  /* Classes for the cards container */
  .cards-container {
    /* Style the cards container */
    max-width: 1000px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .card-img-wrapper {
    width: 332px;
    height: 332px;
    flex-grow: 1;
  }

  .first-card-img {
    border-radius: 30px;
  }
  .second-card-img {
    border-radius: 200px 40px 40px 40px;
  }

  .card-content {
    /* Style the card content */
    flex-grow: 1;
    max-width: 332px;
  }

  /* Classes for the get started block */

  .get_started__desc {
    /* Style the get started description */
    max-width: 40%;
    color: #153243;
    text-align: center;
    margin: 20px 0;
  }
}
