@media ((min-width: 810px) and (max-width: 1919px)) or (device-type: tablet) {
  /* Classes for the header */
  .title-content {
    /* Style the header content */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
  }

  .title-text-controlls {
    /* Style the header controls */
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .title__text {
    /* Style the header text */
    color: #eef0eb;
    font-family: "Bowlby One", sans-serif;
    font-size: 32px;
    letter-spacing: 0.05em;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    line-height: 1.1;
    text-align: left;
    /* font-family: 'Figtree', sans-serif; */
  }
  .title-controlls {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .title__button {
    /* Style the header buttons */
    padding: 10px 20px;
    border-radius: 30px;
    margin-right: 10px;
    text-decoration: none;
    font-family: "Figtree", "Figtree Placeholder", sans-serif;

    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.5;
  }

  .title-imgs {
    height: 420px;
    width: 420px;
    margin: 50px 50px 50px 0;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .m1-img {
    grid-column: 1;
    grid-row: 1;
    border-top-right-radius: 50%;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    mix-blend-mode: luminosity;
    background-image: url("../../../public/img/bag.jpeg");
    object-fit: contain;
  }

  .m2-img {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;

    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #fff;
    object-fit: cover;
  }

  .l1-img {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

    mix-blend-mode: luminosity;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/img/suvenir.jpg");
    object-fit: contain;
  }
  .title__img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  /* Classes for the content block */

  .paragraph {
    /* Style the paragraph content */
    max-width: 1000px;
    margin: 80px 0;
    padding: 0 40px;
  }

  .paragraph__title {
    /* Style the paragraph title */
    display: inline-block;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    font-family: "Bowlby One", sans-serif;
    color: #284b63;
    font-size: 48px;
    letter-spacing: 0.05em;
    line-height: 1.2;
  }

  .paragraph__desc {
    /* Style the paragraph description */
    width: 60%;
  }

  .paragraph-text-block {
    /* Style the paragraph text block */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    font-family: "Figtree", "Figtree Placeholder", sans-serif;
    color: #153243;
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 1.5;
  }

  /* Classes for the cards container */
  .cards-container {
    /* Style the cards container */
    max-width: 710px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .card-img-wrapper {
    width: 332px;
    height: 332px;
    flex-grow: 1;
  }
  .card-img {
    /* Style the card image */
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    mix-blend-mode: luminosity;
  }
  .first-card-img {
    border-radius: 30px;
  }
  .second-card-img {
    border-radius: 200px 40px 40px 40px;
  }

  .card-content {
    /* Style the card content */
    flex-grow: 1;
    max-width: 332px;
  }

  .card-title {
    /* Style the card title */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    font-family: "Bowlby One", sans-serif;
    color: #000;
    font-size: 32px;
    letter-spacing: 0.05em;
    line-height: 1.2;
  }

  .card-desc {
    /* Style the card description */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    font-family: "Figtree", "Figtree Placeholder", sans-serif;
    color: #000;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.5;
    margin: 0;
  }

  /* Classes for the get started block */
  .get-started {
    /* Style the get started block */
    max-width: 100%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .get-started__title {
    /* Style the get started title */
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 800px;
    font-family: "Bowlby One", sans-serif;
    color: #153243;
    font-size: 32px;
    letter-spacing: 0.05em;
    line-height: 1.2;
    text-align: center;
  }

  .get_started__desc {
    /* Style the get started description */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 40%;
    font-family: "Figtree", "Figtree Placeholder", sans-serif;
    color: #153243;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-align: center;
    margin: 20px 0;
  }

  .get_started__controlls {
    /* Style the get started controls */
    margin-top: 30px;
  }

  .get-started__button {
    /* Style the get started buttons */
    padding: 15px;
    border-radius: 8px;
    margin-right: 10px;
    text-decoration: none;
    font-family: "Figtree", "Figtree Placeholder", sans-serif;

    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.5;
  }
}
