@media (min-width: 1920px) {
  /* Classes for the header */
  .title-content {
    /* Style the header content */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title-text-controlls {
    /* Style the header controls */
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .title__text {
    /* Style the header text */
    color: #eef0eb;
    font-size: 64px;
    text-align: left;
    /* font-family: 'Figtree', sans-serif; */
  }

  .title__button {
    /* Style the header buttons */
    padding: 10px 20px;
    border-radius: 30px;
    margin-right: 10px;
  }

  .title-imgs {
    height: 830px;
    width: 830px;
    margin: 100px 100px 100px 0;
    display: grid;
    grid-template-columns: 405px 405px;
    grid-template-rows: 405px 405px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  /* Classes for the content block */

  .paragraph {
    /* Style the paragraph content */
    width: 1000px;
    margin: 100px 0;
  }

  .paragraph__desc {
    /* Style the paragraph description */
    width: 60%;
  }

  /* Classes for the cards container */
  .cards-container {
    /* Style the cards container */
    width: 1000px;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  .card-img-wrapper {
    width: 470px;
    height: 470px;
    flex-grow: 1;
  }

  .first-card-img {
    border-radius: 40px;
  }
  .second-card-img {
    border-radius: 200px 40px 40px 40px;
  }

  .card-content {
    /* Style the card content */
    flex-grow: 1;
    width: 470px;
  }

  /* Classes for the get started block */

  .get_started__desc {
    /* Style the get started description */
    max-width: 50%;
    color: #153243;
    text-align: center;
    margin: 20px 0;
  }
}
