@media (max-width: 809px) or (device-type: phone) {
  /* Classes for the header */
  .title-content {
    /* Style the header content */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title-text-controlls {
    /* Style the header controls */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title-controlls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
  }
  .title__text {
    /* Style the header text */
    color: #eef0eb;
    font-size: 32px;
    text-align: center;
    /* font-family: 'Figtree', sans-serif; */
  }

  .title__button {
    /* Style the header buttons */
    width: 100%;
    padding: 10px 80%;
    border-radius: 30px;
    margin-right: 10px;
    text-align: center;
  }

  .title-imgs {
    height: 370px;
    max-width: 370px;
    margin: 50px 0 50px 0;
    display: grid;
    grid-template-columns: 180px 180px;
    grid-template-rows: 180px 180px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  /* Classes for the content block */

  .paragraph {
    /* Style the paragraph content */
    max-width: 1000px;
    margin: 100px 0;
    padding: 0 20px;
  }

  .paragraph__desc {
    /* Style the paragraph description */
    width: 100%;
  }

  /* Classes for the cards container */
  .cards-container {
    /* Style the cards container */
    max-width: 1000px;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  .card-img-wrapper {
    width: 357px;
    height: 357px;
    flex-grow: 1;
  }

  .first-card-img {
    border-radius: 20px;
  }
  .second-card-img {
    border-radius: 200px 40px 40px 40px;
  }

  .card-content {
    /* Style the card content */
    flex-grow: 1;
    width: 357px;
  }

  /* Classes for the get started block */

  .get_started__desc {
    /* Style the get started description */
    max-width: 70%;
    color: #153243;
    text-align: center;
    margin: 20px 0;
  }
}
