@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Figtree:wght@300;400;700;900&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
html {
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.black-color {
  /* Style black color */
  background-color: #000;
}

.blue-color {
  /* Style blue color */
  background-color: #284b63;
}

.white-color {
  /* Style white color */
  background-color: #fff;
}

.grey-color {
  /* Style grey color */
  background-color: #b4b8ab;
}

.page-text {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  letter-spacing: 0.05em;
}
.page-title-text {
  font-family: "Bowlby One", sans-serif;
  line-height: 1.1;
}
.page-reg-text {
  text-decoration: none;
  font-family: "Figtree", "Figtree Placeholder", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}